
$color : rgb(241, 117, 117);

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
body{
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
    font-family: 'Exo', 'sans-serif', 'Arial Narrow', Arial;
    padding-top: 15%;

    @include desktop(){
        padding-top: 6%;
    }

    form{
        padding-top: 80px;
    }

    %inputs{
        background: transparent;
        color: white;
        font-family: 'Exo', 'sans-serif', 'Arial Narrow', Arial;
        font-size: 16px;
        outline: none;
        text-align: center;
        @include desktop(){
            font-size: 18px;
        }
    
    }

    input[type=submit]{
        font-weight: 700; 
        @extend %inputs;
        border: 2px solid $color;
        padding: 2% 8%;
        text-align: center;
        border-radius: 50px;
        transition-duration: 0.4s;

        @include desktop(){
            padding: 15px 32px;
        }
    }

    input[type=text]{
        @extend %inputs;
        border: none;
        border-bottom: 1px solid $color;
        width : 60%;
        margin-bottom: 1%;
        transition-duration: 0.4s;

        @include desktop(){
            width : 40%;
            height: 8vh;
            margin-bottom: 0%;

        }
    }

    input[type=submit]:hover{
        background-color: $color;
        color: black;
    }
    
    input[type=text]:active{
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    
    ::placeholder{
        font-size: 16px;
        color: rgba(255, 255, 255, 0.664);
        @include desktop()
        {
            font-size: 18px;
        }
    }

    a{
        text-decoration: none !important;
        color: white !important;
    }

    #r{
        width: 23px;
        height: 24px;
        margin-bottom: 9px;
    }

    #domainlogo{
        font-size: 28px;
    }

    #coomingsoon{
        font-family: 'sans-serif', 'Arial Narrow', Arial;
        font-weight: bold;
        font-size: 48px;

        @include desktop(){
            font-size: 60px;
        }
    }

    #clock{
        padding-top: 8%;
        font-size: 18px;
        
        @include desktop(){
            padding-top: 8vh;
            font-size: inherit;
        }
    }

    .clockElement{
        font-size: 20px;

        @include desktop(){
            padding-left: 40px;
            font-size: 32px;
        }
    }


    .techcompanylogoimg{
        width: 50px;
        height: 50px;
    }

    #techcompanies{
        padding-top : 3%;
        text-align: center;
    }


    .techcompanieslogo{
        padding-left: 5%;
        opacity: 0.9;
    }   
}